*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(249 244 218/var(--tw-text-opacity));
    text-decoration: none;
}

body{
    background: url(/images/climb.jpg) no-repeat center center fixed;
    padding: 50px 50px 0 50px;
    margin: 0px auto;
    height: 100vh;
    background-position: right -100px;
}
.school{
  background-image: url(/images/school.jpg);
  background-size: cover;
}
.work{
  background-image: url(/images/work.jpg);
  background-size: cover;
}
.hype{
  background-image: url(/images/hype.jpg);
  background-size: cover;
}
  /* list of categories */
  nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
  }
  ul{
   
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
  }
  li{
    font-weight: 700;
    border-radius: 10px;
    opacity:0.75;

  }
  li:hover{
  opacity: 1;
  }
  .selected{
    opacity: 0.9;
    border: 1px solid white;
  }
   /* hidden */
  .hidden{
    visibility: hidden;
  }

   /* container */
   h1 {
    width: 350px; height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50px;
    opacity: 0.7;
    text-align: center;
    color: darkgray;
    font-weight: 200;
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    position: relative;
    margin: 50px auto;
  }
  h1:after, h1:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
  }
  h1:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  h1:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
   .container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10vh auto 10vh auto;
   }
   button{
    background-color: hsla(50,72%,92%,.1);
    padding: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    color: gray;
    border-color: lightgray;
   }
   button:hover{
    cursor: pointer;
   }
   li{    
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
   }
  .home{
    position: absolute;
    top: .2vh;
    left: .1vw;
    color: gray;
  }

/* quote */
.hide{
  display: none;
}

span{
  color: rgb(49, 49, 204);
}

.quote{
  color: rgb(49, 49, 204);
  font-size: 23px;
  font-weight: 500;
  width: 800px;
  text-align: center;
}
.name{
  text-align: center;
}